<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ruie.cadernoprogresso"
    android:versionCode="5"
    android:versionName="1.2" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="pt.ruie.cadernoprogresso.App" >
        
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="60d47bcb3a42744b1a7ba34a7e7e273a710ad9e8" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
